.usflogo > img {
  width: 10em;
  display: block;
  margin: auto;
}

.container {
  width: 20em;
  background-color: #f8f8f8;
  margin: 20px auto;
  box-shadow: 0 0 15px grey;
  padding: 35px;
  border: 6px solid lightgrey;
  border-radius: 40px;
}

.heading > h1 {
  text-align: center;
  margin-top: 4%;
  padding-bottom: 25px;
}

.yourbal > h4, h2 {
  margin: 0;
}

.baldet {
  display: flex;
  background-color: white;
  margin: 2em;
  justify-content: space-around;
  box-shadow: 0 0 10px grey;
  padding: 10px;
}

.baldet .inc {
  border-right: 1px solid #dedede;
  padding-right: 15%;
}

.baldet .inc > h3, p {
  text-align: center;
  margin: 0;
}

.baldet .inc >p {
  text-align: center;
  color: green;
  font-size: 20px;
}

.baldet .exp > h3, p {
  text-align: center;
  margin: 0;
}

.baldet .exp >p {
  text-align: center;
  color: red;
  font-size: 20px;
}

.transaction > h3 {
  margin-top: 35px;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 10px;
  margin: 10px 0px;
  box-shadow: 0 0 10px lightgrey;
  border-right: 5px solid blue;
}

.formdescp > input {
  display: block;
  width: 95%;
  padding: 10px;
  margin-top: 10px;
}

.formamnt > input{
  width: 95%;
  padding: 10px;
  margin-top: 12px;
}

.button {
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  background-color: blue;
  color: white;
}

.ftr {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.ftr > a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}